@import 'tailwindcss';

* {
  box-sizing: border-box;
}

:root {
  --container: 1400px;
}

@theme {
  --color-gray-25: #fdfdfd;
  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e9eaeb;
  --color-gray-300: #d5d7da;
  --color-gray-400: #a4a7ae;
  --color-gray-500: #717680;
  --color-gray-600: #535862;
  --color-gray-700: #414651;
  --color-gray-800: #252b37;
  --color-gray-900: #181d27;
  --color-gray-950: #0a0d12;

  --color-primary-25: #f9f4f1;
  --color-primary-50: #f3e9e3;
  --color-primary-100: #e0c7b8;
  --color-primary-200: #cda68e;
  --color-primary-300: #bb8563;
  --color-primary-400: #aa6f4b;
  --color-primary-500: #8e5d3e;
  --color-primary-600: #714a32;
  --color-primary-700: #5a3b28;
  --color-primary-800: #442d1e;
  --color-primary-900: #2e1e14;
  --color-primary-950: #160f0a;

  --color-error-25: #fffbfa;
  --color-error-50: #fef3f2;
  --color-error-100: #fee4e2;
  --color-error-200: #fecdca;
  --color-error-300: #fda29b;
  --color-error-400: #f97066;
  --color-error-500: #f04438;
  --color-error-600: #d92d20;
  --color-error-700: #b42318;
  --color-error-800: #912018;
  --color-error-900: #7a271a;
  --color-error-950: #55160c;

  --color-warning-25: #fffcf5;
  --color-warning-50: #fffaeb;
  --color-warning-100: #fef0c7;
  --color-warning-200: #fedf89;
  --color-warning-300: #fec84b;
  --color-warning-400: #fdb022;
  --color-warning-500: #f79009;
  --color-warning-600: #dc6803;
  --color-warning-700: #b54708;
  --color-warning-800: #93370d;
  --color-warning-900: #7a2e0e;
  --color-warning-950: #4e1d09;

  --color-success-25: #f6fef9;
  --color-success-50: #ecfdf3;
  --color-success-100: #d1fadf;
  --color-success-200: #a6f4c5;
  --color-success-300: #6ce9a6;
  --color-success-400: #32d583;
  --color-success-500: #12b76a;
  --color-success-600: #039855;
  --color-success-700: #027a48;
  --color-success-800: #05603a;
  --color-success-900: #054f31;
  --color-success-950: #053321;
}

@layer utilities {
  .h3-bold {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
  }

  .text-normal {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }

  .text-semibold {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
  }

  .base-normal {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
  }

  .base-semibold {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
  }

  .small-normal {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
  .small-semibold {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
  }

  .w-container {
    width: 100%;
    padding-inline: calc(50% - var(--container) / 2);
  }

  @media screen and (max-width: 1440px) {
    .w-container {
      padding-inline: 16px;
    }
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-primary-25);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-200);
  border-radius: 999px;
}
